:root {
    --morado-titulos: #5c2474;
    --morado-lista-menu: #9a52cd;
    --morado-azulado-botones:#4844a4;
    --medio-morado-difuminado: #703a7f;
    --blanco: #ffffff;
    --rosa-descolorido: #fef7ff;
    --cafe-dorado: #ceb584;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--rosa-descolorido);
    color: var(--cafe-dorado);
    font-family: "Play", sans-serif;
}

.material-icons-outlined{
    color: var(--cafe-dorado);
    vertical-align: middle;
    line-height: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "header header header header"
        "sidebar main main main";
    height: 100vh;
}

/* ---------- HEADER ---------- */
.header {
    grid-area: header;
    height: 90px;
    background-color: var(--morado-titulos);
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.menu-icon{
    font-size: 30px;
    font-weight: 700;
}

.menu-icon img{
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
}

.header-right span {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}

/* ---------- SIDEBAR ---------- */
#sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 230px;
    background: linear-gradient(to bottom, var(--morado-titulos), var(--medio-morado-difuminado), var(--cafe-dorado));
    color: var(--cafe-dorado);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 25px;
}

.sidebar-brand {
    color: var(--blanco);
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    color: var(--blanco);
    padding: 20px 20px 20px 20px;
    font-weight: 700;
}

.sidebar-list-item:hover {
    background-color: var(--morado-lista-menu);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* ---------- MAIN ---------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.main-title p{
    font-size: 26px;
    font-weight: 700;
    color: var(--morado-titulos);
}

.main-title span {
    font-size: 70px;
    color: var(--cafe-dorado);
    vertical-align: middle;
    line-height: 1px;
}

.card {
    gap: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: var(--blanco);
    box-sizing: border-box;
    border: 1.5px solid var(--cafe-dorado);
    border-radius: 10px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card label {
    color: var(--morado-titulos);
    font-size: 17px;
    font-weight: 600;
}

.estilo-caja input {
    font-family: "Play", sans-serif;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid var(--cafe-dorado);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.estilo-caja input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(202, 155, 60, 0.575);
}

.estilo-combobox select{
    font-family: "Play", sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--blanco);
    border: 1px solid var(--cafe-dorado);
    border-radius: 5px;
    font-size: 16px;
    color: var(--morado-titulos);
    width: 170px;
    height: 20px;
    padding-left: 8px;
    cursor: pointer;
}
.estilo-combobox select:hover {
    box-shadow: 0 0 5px rgba(202, 155, 60, 0.575);
}

.estilo-combobox select:focus {
    outline: none;
    border-color: var(--cafe-dorado);
}

.estilo-password {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--cafe-dorado);
}

.estilo-boton-seleccion input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--morado-titulos);
    border: 1px solid var(--cafe-dorado);
    font-family: "Play", sans-serif;
    padding-left: 8px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--cafe-dorado);
    width: 170px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.estilo-boton-seleccion input:hover {
    box-shadow: 0 0 5px rgba(202, 155, 60, 0.575);
}

.estilo-boton-seleccion input:focus {
    outline: none;
    border-color: var(--cafe-dorado);
}

.estilo-boton-guardar button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    justify-self: end;
    margin-top: 40px;
    margin-right: 140px;
    background-color: var(--morado-azulado-botones);
    font-family: "Play", sans-serif;
    font-weight: 700;
    color: var(--blanco);
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 10%;
}

.estilo-boton-guardar:hover button{
    background-color: #3e3480;
}